<div class='talk'>
{% if {{include.img}} %}<img src='{{include.img}}' alt='{{include.img_alt | replace: "'", "’"}}'>{% endif %}
<div class='innertext'>
<div class='title'>{{include.title}}</div>
<div class='speaker'>{{include.speaker}}</div>
<div class='institute'>{{include.institute}}</div>
<div class='datetime'>{{include.date}}{% if {{include.time}} %}<br />{{include.time}}{% endif %}</div>
{% if {{include.website}} or {{include.email}} or {{include.github}} or {{include.twitter}} %}
<ul class='sociallist'>
{% if {{include.website}} %}<li><a href="{{include.website}}"><i class="fa fa-internet-explorer" aria-hidden="true"></i> {{ include.website | split:"//" | last}}</a></li>{% endif %}
{% if {{include.email}} %}<li><a href="mailto:{{include.email}}"><i class="fa fa-envelope-o" aria-hidden="true"></i> {{include.email}}</a></li>{% endif %}
{% if {{include.github}} %}<li><a href="https://github.com/{{include.github}}"><i class="fa fa-github" aria-hidden="true"></i> {{include.github}}</a></li>{% endif %}
{% if {{include.twitter}} %}<li><a href="https://twitter.com/{{include.twitter}}"><i class="fa fa-twitter" aria-hidden="true"></i> @{{include.twitter}}</a></li>{% endif %}
</ul>
{% endif %}
{% if {{include.description}} %}{{include.description | markdownify}}{% endif %}
</div>
</div>
